.footer{
    background-color: #0B0D17;
}

.menu-footer{
    color:#FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-footer a{
    color:#FFFFFF;
    text-decoration: none;
}

.menu-footer li{
    display: inline;
    padding: 8px;
}

.divider{
    border-top: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    max-width: 80%;
    opacity: .2;
}

.copyright{
    justify-content: center;
    color: #D9DBE1;
    margin: 10px 0 0 0;
    padding: 0 0 10px 0;
}