@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.team-carrousel{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-bottom: 50px;
}

.team{
    background-color: #f4e5ce32;
    min-height: calc(100vh - 55px);
    text-align: center;
}

.title-team{
    margin: 0;
    padding: 25px;
    font-family: Roboto;
    font-size: 60px;
}

@media screen and (min-width: 1440px){
    .team-carrousel{
        margin: 0 10% 0 10%;
    }
}

@media screen and (min-width: 1800px){
    .team-carrousel{
        margin: 0 15% 0 15%;
    }
}

@media screen and (min-width: 2058px){
    .team-carrousel{
        margin: 0 20% 0 20%;
    }
}