@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import '../node_modules/video-react/dist/video-react.css';  /*video player*/
@import "components/css/teamSection.css";
@import "components/css/videoSection.css";

body{
  margin: 0;
  padding: 0;
}

.Homepage{
  text-align: center;
}

#downloadApp{
  background: #FED777;
  border: none;
  height: 85px;
  width: 200px;
  border-radius: 5px;
  font-size: 24px;
}




